*/20     *       *       *       *       /usr/bin/python /app/manual.py &> /logs/manual.log
0     0       *       *       *       find /cidata/ -type d  -not -name "logs" -mtime +21 -exec rm -rf "{}" \; 2>&1 | tee /logs/clean.log
