0     *       *       *       *       /usr/bin/python /app/manual.py &> /cidata/logs/manual.log
0     0       *       *       *       find /cidata/ -type d -mtime +21 -exec rm -rf "{}" \; 2>&1 | tee /cidata/logs/clean.log
