sudo dnf install -y python34 python34-devel || sudo dnf install -y python3 python3-devel
sudo dnf install -y libffi-devel python-pip python-virtualenv gcc redhat-rpm-config openssl-devel libxml2-devel libxslt-devel
