[project]
	description = POC TripleO Ci monitoring system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Sagi (Sergey) Shnaidman (sshnaidm)
[access "refs/for/refs/*"]
	read = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	push = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	label-Code-Review = -2..+2 group user/Sagi (Sergey) Shnaidman (sshnaidm)
	label-Verified = -1..+1 group user/Sagi (Sergey) Shnaidman (sshnaidm)
	rebase = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	removeReviewer = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	submit = group user/Sagi (Sergey) Shnaidman (sshnaidm)
[access "refs/heads/*"]
	read = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	create = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	push = +force group user/Sagi (Sergey) Shnaidman (sshnaidm)
	pushMerge = group user/Sagi (Sergey) Shnaidman (sshnaidm)
[access "refs/tags/*"]
	push = group user/Sagi (Sergey) Shnaidman (sshnaidm)
	push = +force group user/Sagi (Sergey) Shnaidman (sshnaidm)
