{% set alljobs=data.keys()|list %}
{% set master_jobs=alljobs %}
{% for j in alljobs %}
{% set ifmaster=True %}

{% for branch in branches if branch != 'master' %}
    {% if branch in j %}{% do master_jobs.remove(j) %} {% endif %}
{% endfor %}
{% endfor %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h3>Master-{{ key|replace('ci', 'gate') }}</h3>
            {% for key in master_jobs %}
                {% set keyloop = loop %}
                <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ key }}">{{ key }}</a></li><div class="clearfix"></div>
            {% endfor %}
        </div>

        {% for branch in branches|reverse if branch != 'master' %}
            {% set brloop = loop %}
            <div class="col-xs-12 col-md-3">
                <h3>{{ branch|capitalize }}-{{ key|replace('ci', 'gate') }}</h3>

                {% for key in data %}
                    {% set keyloop = loop %}
                    {% if branch in key %}
                    <li{%  if brloop.first and loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ key }}">{{ key }}</a></li><div class="clearfix"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>

<div class="clearfix"></div>
