
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <script type="text/javascript">
                google.charts.setOnLoadCallback({{ key }}_today);

                function {{ key }}_today() {
                var data = google.visualization.arrayToDataTable([
                  ['Job status', 'Percents'],
                  ['Passed',             {{ main.today_jobs_all.succ|default(0) }} ],
                  ['Infra issues',       {{ main.today_jobs_all.infra|default(0) }} ],
                  ['Code issues',        {{ main.today_jobs_all.code|default(0) }} ],
                  ['Unknown failures', {{ main.today_jobs_all.unknown|default(0) }} ],
                  {% if not main.today_jobs_all %}['No data', 1]{% endif %}
                ]);
                var options = {
                  title: 'Today',
                  pieHole: 0.4,
                    colors: ['#109618', '#DC3912', '#3366CC', '#FF9900', 'black'],
                    //legend: {position:'top', alignment: 'center'},
                    //chartArea:{left:5,top:5,width:'100%',height:'100%'}
                };
                var chart = new google.visualization.PieChart(document.getElementById('{{ key }}_all_today'));
                chart.draw(data, options);
                }
            </script>
            <div id="{{ key }}_all_today"></div>

        </div>
        <div class="col-xs-12 col-md-3">
            <script type="text/javascript">
                google.charts.setOnLoadCallback({{ key }}_yesterday);

                function {{ key }}_yesterday() {
                var data = google.visualization.arrayToDataTable([
                  ['Job status', 'Percents'],
                  ['Passed',             {{ main.yesterday_jobs_all.succ|default(0) }} ],
                  ['Infra issues',       {{ main.yesterday_jobs_all.infra|default(0) }} ],
                  ['Code issues',        {{ main.yesterday_jobs_all.code|default(0) }} ],
                  ['Unknown failures', {{ main.yesterday_jobs_all.unknown|default(0) }} ],
                  {% if not main.yesterday_jobs_all %}['No data', 1]{% endif %}
                ]);
                var options = {
                  title: 'Yesterday',
                  pieHole: 0.4,
                    colors: ['#109618', '#DC3912', '#3366CC', '#FF9900', 'black'],
                    //legend: {position:'top', alignment: 'center'},
                    //chartArea:{left:5,top:5,width:'100%',height:'100%'}
                };
                var chart = new google.visualization.PieChart(document.getElementById('{{ key }}_all_yesterday'));
                chart.draw(data, options);
                }
            </script>
            <div id="{{ key }}_all_yesterday"></div>
        </div>
        <div class="col-xs-12 col-md-3">
            <script type="text/javascript">
                google.charts.setOnLoadCallback({{ key }}_week);

                function {{ key }}_week() {
                var data = google.visualization.arrayToDataTable([
                  ['Job status', 'Percents'],
                  ['Passed',             {{ main.week_jobs_all.succ|default(0) }} ],
                  ['Infra issues',       {{ main.week_jobs_all.infra|default(0) }} ],
                  ['Code issues',        {{ main.week_jobs_all.code|default(0) }} ],
                  ['Unknown failures', {{ main.week_jobs_all.unknown|default(0) }} ],
                  {% if not main.week_jobs_all %}['No data', 1]{% endif %}
                ]);
                var options = {
                  title: 'Week',
                  pieHole: 0.4,
                    colors: ['#109618', '#DC3912', '#3366CC', '#FF9900', 'black'],
                    //legend: {position:'top', alignment: 'center'},
                    //chartArea:{left:5,top:5,width:'100%',height:'100%'}
                };
                var chart = new google.visualization.PieChart(document.getElementById('{{ key }}_all_week'));
                chart.draw(data, options);
                }
            </script>
            <div id="{{ key }}_all_week"></div>
        </div>
        <div class="col-xs-12 col-md-3">
            <script type="text/javascript">
                google.charts.setOnLoadCallback({{ key }}_overall);

                function {{ key }}_overall() {
                var data = google.visualization.arrayToDataTable([
                  ['Job status', 'Percents'],
                  ['Passed',             {{ main.all_statistics.succ|default(0) }} ],
                  ['Infra issues',       {{ main.all_statistics.infra|default(0) }} ],
                  ['Code issues',        {{ main.all_statistics.code|default(0) }} ],
                  ['Unknown failures', {{ main.all_statistics.unknown|default(0) }} ],
                  {% if not main.all_statistics %}['No data', 1]{% endif %}
                ]);
                var options = {
                  title: 'Overall',
                  pieHole: 0.4,
                    colors: ['#109618', '#DC3912', '#3366CC', '#FF9900', 'black'],
                    //legend: {position:'top', alignment: 'center'},
                    //chartArea:{left:5,top:5,width:'100%',height:'100%'}
                };
                var chart = new google.visualization.PieChart(document.getElementById('{{ key }}_overall'));
                chart.draw(data, options);
                }
            </script>
            <div id="{{ key }}_overall"></div>
        </div>
    </div>
</div>
<div>
    <script type="text/javascript">
        google.charts.setOnLoadCallback({{ key }}_dyn);
        function {{ key }}_dyn() {
        var data = google.visualization.arrayToDataTable([
            ['Date', 'Passed', 'Infra issues', 'Code issues', 'Unknown failures', { role: 'annotation' }],
            {% for date in main.all_by_date.keys()|sort %}
                ['{{ date }}', {{ main.all_by_date[date].succ|default(0) }},{{ main.all_by_date[date].infra|default(0) }},{{ main.all_by_date[date].code|default(0) }},{{ main.all_by_date[date].unknown|default(0) }},''],
            {% endfor %}
            {% if not main.all_by_date %}
                ['No data', 1, '']
            {% endif %}
          ]);
        var options = {
            title: 'Dynamics of {{ key }} jobs',
            isStacked: 'percent',
            height: 200,
            width: 800,
            legend: {position: 'top', maxLines: 3},
            colors: ['#109618', '#DC3912', '#3366CC', '#FF9900', 'black'],
            hAxis: {format:'MM-dd'},
            vAxis: {minValue: 0}
        };
        var chart = new google.visualization.ColumnChart(document.getElementById('{{ key }}_dyn'));
        chart.draw(data, options);
        }
    </script>
    <div id="{{ key }}_dyn"></div>
</div>