{% set alljobs=data.keys()|list %}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-3">
            <h3>Master-{{ key|replace('ci', 'gate') }}</h3>
            {% for key in jobs_by_branch.master|sort %}
                {% set keyloop = loop %}
                <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ key }}"><span style="color:{{ circles[key] }}">&#9632;</span> {{ key }}</a></li><div class="clearfix"></div>
            {% endfor %}
        </div>

        {% for branch in branches|reverse if branch != 'master' and branch != '' %}
            {% set brloop = loop %}
            <div class="col-xs-12 col-md-3">
                <h3>{{ branch|capitalize }}-{{ key|replace('ci', 'gate') }}</h3>

                {% for key in jobs_by_branch[branch]|sort %}
                    {% set keyloop = loop %}
                    <li{%  if brloop.first and loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ key }}"><span style="color:{{ circles[key] }}">&#9632;</span> {{ key }}</a></li><div class="clearfix"></div>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="col-xs-12 col-md-3">
                <h3>Others</h3>

                {% for key in jobs_by_branch['others']|sort %}
                    {% set keyloop = loop %}
                    <li{% if loop.first %} class="active"{% endif %}><a data-toggle="tab" href="#{{ key }}"><span style="color:{{ circles[key] }}">&#9632;</span> {{ key }}</a></li><div class="clearfix"></div>
                {% endfor %}
            </div>
    </div>
</div>

<div class="clearfix"></div>
