<table id="job_data" class="table table-hover display" cellspacing="0" width="100%">
    <thead><td>Date</td><td>Length</td><td>Reason</td><td>Logs</td>{% if data == ci %}<td>Branch</td>{% endif %}</thead>
    {%  for i in data[key] %}
    <tr style="color:{% if i.reason and 'infra' in i.tags %}red{% elif i.success %}green{% elif i.reason %}blue{% else %}black{% endif %}"{% if i.success and not i.periodic %} class="collapse" id="success"{% endif %}>
        {# Date #}
        <td style="color:{% if i.reason and 'infra' in i.tags %}red{% elif i.success %}green{% elif i.reason %}blue{% else %}black{% endif %}">
        | {{  i.job.datetime }} |
        </td>
        {# Length #}
        <td style="color:{% if i.reason and 'infra' in i.tags %}red{% elif i.success %}green{% elif i.reason %}blue{% else %}black{% endif %}">
        | {{  i.job.length }} min |
        </td>
        {# Reason #}
        <td style="color:{% if i.reason and 'infra' in i.tags %}red{% elif i.success %}green{% elif i.reason %}blue{% else %}black{% endif %}">
        | {{ i.msg.keys() | join(' ')}} |
        </td>
        {# Logs #}
        <td>
        | <a href="{{ i.job.log_url }}">Logs</a> |
        </td>

        {# Branch #}
        {% if i.job.branch %}
        <td>
        | <a  data-toggle="tooltip" data-placement="top" title="{{ i.job.branch|default('') }}" href="https://review.openstack.org/#/q/status:open+branch:{{ i.job.branch }}">{{ i.job.branch }}</a> |
        </td>
        {% endif %}

        {# Tempest statistics #}
        {% if 'tempest' in i.job.name %}
            <!-- tempest_stats:{{ i.job.name }},{{ i.job.ts.strftime('%s') }},{% if i.success %}SUCCESS{% else %}FAILURE{% endif %}: -->
        {% endif %}
    </tr>
    {%  endfor %}
</table>
