<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- Google API for charts -->
    <script type="text/javascript" src="http://www.gstatic.com/charts/loader.js"></script>

    <link rel="stylesheet" href="http://tripleo.org/_static/tweaks.css">
    <!-- JQuery Datatables.net -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.js"></script>
    <!-- JQuery Datatables.net CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.css">

    <title>RDO CI jobs</title>

<script type="text/javascript">
      google.charts.load("current", {packages:["corechart"]});

</script>

</head>
<body>

<div id="header">
    <h1 id="logo"><a href="http://www.tripleo.org/">TripleO</a></h1>
</div>


<div class="page-header" align="center">
    <h3>
        <a href="http://cistatus.tripleo.org">TripleO CI check jobs</a>
    </h3>
    <h3>
        <a href="http://cistatus.tripleo.org/gates/">TripleO CI gate jobs</a>
    </h3>
    <h3>
        <a href="http://cistatus.tripleo.org/promotion/">TripleO CI promotion jobs</a>
    </h3>
    <h3>
        <a href="http://cistatus.tripleo.org/promotion/">TripleO CI upgrades jobs</a>
    </h3>
    <h3>
        <a href="http://cistatus.tripleo.org/phase1/">RDO CI phase1 promotion jobs</a>
    </h3>
    <h3>
        <a href="http://cistatus.tripleo.org/phase2/ ">RDO CI phase2 promotion jobs</a>
    </h3>
    <br>
    <h2><u>
        RDO CI phase1 jobs
    </u></h2>
</div>

<div class="tabbable boxed parentTabs">



        {% set main=ci_stats %}{% set key='ci' %}



    <div class="content">
    {% for data in (ci, ) %}
        {% if data==periodic %}{% set main=periodic_stats %}{% set key='periodic' %}
        {% else %}{% set main=ci_stats %}{% set key='ci' %}
        {% endif %}

        <div class="tab-pane fade {% if loop.first %}active in{% endif %}" id="{{ key }}tab">
            <div class="tabbable">
                {% if main.all_statistics %}{% set stat=main.all_statistics %}
                    {% include 'main_chart.html' %}
                {% endif %}
                <ul class="nav nav-tabs">
                    {% include 'jobs_list.html' %}
                </ul>

<!--
                    <li><a data-toggle="tab" href="#" id="all">All</a></li>
                    <li><a data-toggle="tab" href="#errors">Top</a></li>
-->

                <div class="clearfix"></div>
                <button class="btn btn-primary" type="button" id="showsuccess"><span class="glyphicon glyphicon-collapse-up"></span> Show successes </button>
                <div class="clearfix"></div>

                <div class="tab-content">



                    {% set rowloop = loop %}
                    {% for key in data %}


                        <div id="{{ key }}" class="tab-pane fade{% if rowloop.first and loop.first%} in active{%  endif %}">
                        <div class="panel panel-default">
                            <div class="panel-heading "><h4>{{ key|replace('pgate-', '') }}</h4></div>
                            <div class="panel-body">
                            <i>{{ key }}</i><br>

                                {% if data == periodic %}{% set main=periodic_stats %}{% else %}{% set main=ci_stats %}{% endif %}
                                 {% include 'job_chart.html' %}

                            </div>
                        </div>

                          {% include 'jobs_table.html' %}
                        </div>
                    {% endfor %}
                <hr>
                </div>
        </div>
        </div>
                {% endfor %}



    </div>


<br/><br/>

{% include 'errors.html' %}

</div>
<script>
$("ul.nav-tabs a").click(function (e) {
  e.preventDefault();
    $('.nav li').removeClass('active');
    $(this).tab('show');
});
$('#all').on('click',function(){
  $('#all').parent().addClass('active');
  $('.tab-pane').addClass('active in');
  $('[data-toggle="tab"]').parent().removeClass('active');
  var table = $('#job_data').DataTable();
  table.clear();
});
$('#showsuccess').on('click',function(){
    $('.collapse').toggleClass('in');
    var hide='<span class="glyphicon glyphicon-collapse-up"></span> Hide successes ';
    var show='<span class="glyphicon glyphicon-collapse-up"></span> Show successes ';
    $(this).html() == show ? $(this).html(hide) : $(this).html(show);
});
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
$(function () {
  $('[data-toggle="popover"]').popover();
});

$(function () {
  $('table').DataTable( {
      "order": [[ 0, "desc" ]],
      "pageLength": 100
  } );
});

</script>
</body>
</html>
